<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple Cats</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style = "background-color:#d7ddd3">
    <!-- Navbar -->
    <img src="../img/templecats.png" alt="Logo" width="500" height="200" class="center">

    <div class="w3-bar w3-center">
    <div class="w3-bar w3-center w3-large">
      <a class="w3-center w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
      <a href="/communitycats" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Community Cats</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">See Cats Outside?</a>
      <a href="/tnr" class="w3-bar-item w3-button w3-hide-small w3-hover-white">TNR</a>
      <a href="/our_kitties" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Kitties</a>
      <a href="/pet_care" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pet Care</a>
      <a href="/donate_volunteer" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Donate & Volunteer</a>

        <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a> -->
    </div>
  </div>
  
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main">
 	 <div class="w3-row w3-padding-64 ccatscenter">
     		 <div class="w3-container center right-block">
         		 <h1 style="color:#b22849" class="w3-center">Q: Is it medically urgent or injured?</h1>
       				 <p>If the cat is injured or pregnant, and you are able to collect it,
				 you can bring it to ACCT and surrender it, so that it will be medically
				 evaluated. If you are unable to collect it, and it is in Temple Cat’s
				 operating area, you can make a post on Temple Cat’s Facebook group.</p>
      </div>
    </div>
    <div class="w3-row w3-padding-64 ccatscenter">
                 <div class="w3-container center right-block">
                         <h1 style="color:#b22849" class="w3-center">Q: Is it friendly?</h1>
                                 <p>If the cat is friendly and without an ear tip, and you are able to collect it, you can bring it to a rescue if you call first to ask if they have space. A friendly cat with an ear tip can eventually be brought to a rescue to find a permanent home. A friendly cat without an ear tip could be lost or abandoned. If you are able to, consider temporarily fostering the kitty.</p>
      </div>
    </div>
    <div class="w3-row w3-padding- ccatscenter">
		<div class="w3-container right-block">
			<h1 style="color:#b22849" class="w3-center">Friendly Cat Assessment</h1>
			<ul>
				 <li>Does the cat have a collar, even if it doesn’t have a tag?</li>
				  <li>Does the cat appear ill, with runny eyes or sneezing,
					  heavy breathing, or any unusual behavior? </li>
				  <li>Does the cat look dirty/grungy, as if it has been outside for a while?</li>
				  <li>Can you take pictures of the cat?</li>
				  <li>Can you take note of the location you saw the cat, being as
					  specific as possible?</li>
				  <li>Ask neighbors or people nearby outdoors, if any, if they know
					  if the cat belongs to someone. Sometimes local residents know
					  if a cat is a regular on a street.</li>
			</ul>
		</div>
	</div>
  </div>
  <!-- END MAIN -->
  <script src="../js/main.js"></script>

</body>
</html>
