<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple Cats</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style = "background-color:#d7ddd3">
    <!-- Navbar -->
    <img src="../img/templecats.png" alt="Logo" width="533" height="300" class="center">

    <div class="w3-bar w3-center">
    <div class="w3-bar w3-center w3-large">
      <a class="w3-center w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
      <a href="/communitycats" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Community Cats</a>
      <a href="/catsoutside" class="w3-bar-item w3-button w3-hide-small w3-hover-white">See Cats Outside?</a>
      <a href="/tnr" class="w3-bar-item w3-button w3-hide-small w3-hover-white">TNR</a>
      <a href="/our_kitties" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Kitties</a>
      <a href="/pet_care" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pet Care</a>
      <a href="/donate_volunteer" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Donate & Volunteer</a>

        <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a> -->
    </div>
  </div>
  
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main">
    <div class="w3-row w3-padding-64 ccatscenter">
      <div class="right-block">
          <h1 style="color:#b22849" class="w3-center">What is a Community Cat?</h1>
        <p>“‘Community Cats’ is a term used to describe outdoor, unowned, free-roaming cats. These cats could be friendly, feral,
            adults, kittens, healthy, sick, altered and/or unaltered. They may or may not have a caregiver.
            By this definition, the only outdoor free-roaming cats who are not community cats are those who have an owner.” -ASPCA in ‘A Closer Look at Community Cats’</p>
      </div>
    </div>
  
    <div class="w3-row w3-padding-64 w3-center">
      <div class=" w3-container w3-center">
          <h1 style="color:#b22849" class="w3-center">Types of Cats</h1>
	  <title>CSS Grids</title>
	<style>
		.wrapper{
			display:grid;
			max-width: 50%;
			grid-template-columns: 30% 70%;
			border:#333 1px solid;
                        border: 2px solid #DC143CFF;
                        border-radius:5px;
		}
		.wrapper > div{
			background:#eee;
			padding: 1em;
			border:#333 1px solid;
		}
		.wrapper > div:nth-child(odd){
			background:#ddd;
		}
	</style>
	  <div class="wrapper center">
		  <div>
			  <font size=+3> Lost & Found Cats </font>
			  <br> <img src="../img/cats/ccat_one.jpeg" style="width:250px">
		  </div>
	       	  <div>
	 		<font size="+2">These cats are typically very friendly, and therefore are someone’s missing pet cat. Lost cats will sometimes have flyers in the area,
				including shelters and rescues. Found cats are cats found outdoors that are friendly. Found cats can be someone’s lost pet,
				and therefore any found cat that is friendly needs to be checked for a microchip,
				and flyers should be put out. However, sometimes found cats will not be claimed... </font>
	          </div>
		  <div>
			  <font size=+3> Abandoned & Friendly Stray Cats</font>
			  <br> <img src="../img/cats/peanut.jpeg" style="width:250px">

		  </div>
		  <div>
			  <font size="+2"> When a found cat isn’t claimed, it is assumed to be abandoned. When this happens, the cat needs to be fostered and medically
			  evaluated to check that it is healthy, and eradicate any parasites that could have come from living outside.
			  Alternatively, it can be surrendered to a rescue, which will accept on a case by case basis based on rescue space and resources.
			  If it is medically urgent, aka pregnant or injured, it can be surrendered to ACCT immediately.
			  </font>
		  </div>
		  <div>
			  <font size="+3">Feral Cats</font>
			<br> <img src="../img/cats/ccat_two.jpg" style="width:250px">
		  </div>
		  <div>
			  <font size="+2"> These cats are often born outside, afraid of humans, and are undomesticated. They are not friendly enough to ever do well as someone’s pet, and need to be maintained outdoors. </font>
		  </div>
		  <div>
			  <font size="+3">Colony Cats</font>
			  <br> <img src="../img/cats/ccat_three.jpg" style="width:250px">
		  </div>
		  <div>
			  <font size="+2">  Cats that are regularly seen on a street are often maintained by a colony. A colony is a location where there is food, water, and potentially shelter.
			  The cats in a colony usually are fixed, evident by an ear tip. The ear tip is discussed more in the TNR section(include hyperlink). 
			  Colony cats can be any of the above types. Ferals and friendly strays are typically regulars of a colony, and therefore when a new cat appears, it is lost or abandoned.
			  </font>
		 </div>
	  </div>
      </div>
    </div>
  </div>

  <!-- END MAIN -->
  <script src="../js/main.js"></script>

</body>
</html>
