
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple Cats</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style = "background-color:#d7ddd3">
    <!-- Navbar -->
    <img src="../img/templecats.png" alt="Logo" width="500" height="200" class="center">

    <div class="w3-bar w3-center">
    <div class="w3-bar w3-center w3-large">
      <a class="w3-center w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
      <a href="/communitycats" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Community Cats</a>
      <a href="/catsoutside" class="w3-bar-item w3-button w3-hide-small w3-hover-white">See Cats Outside?</a>
      <a href="/tnr" class="w3-bar-item w3-button w3-hide-small w3-hover-white">TNR</a>
      <a href="/our_kitties" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Kitties</a>
      <a href="/pet_care" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pet Care</a>
      <a href="/donate_volunteer" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Donate & Volunteer</a>

        <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a> -->
    </div>
  </div>
  
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main">
    <div class="w3-row w3-padding-64 w3-center">
      <div class=" w3-container w3-center">
          <h1 style="color:#b22849" class="w3-center">Meet our Kitties!</h1>
	  <title>CSS Grids</title>
	<style>
		.wrapper{
			display:grid;
			max-width: 50%;
			grid-template-columns: 30% 70%;
			border:#333 1px solid;
                        border: 2px solid #DC143CFF;
                        border-radius:5px;
		}
		.wrapper > div{
			background:#eee;
			padding: 1em;
			border:#333 1px solid;
		}
		.wrapper > div:nth-child(odd){
			background:#ddd;
		}
	</style>
	  <div class="wrapper center">
		  <div>
			  <font size=+3>Mary </font>
			  <br> <img src="../img/cats/mary.jpg" style="width:250px">
		  </div>
	       	  <div>
	 		<font size="+2">Mary, her littermates, and father all lived in the area that would eventually become the Temple Community Garden. Her littermates and father were socialized enough to be adopted, with only Mary remaining feral. Mary used to live in the garden with Obi, but now the garden is solely her territory.  </font>
	          </div>
		  <div>
			  <font size=+3> Obi</font>
			  <br> <img src="../img/cats/obi.jpg" style="width:250px">

		  </div>
		  <div>
			  <font size="+2">Obi was an old black cat, who has since passed away. He belonged to the colony at the Temple Community Garden, and had a reputation for caring for other cats, particularly kittens. Other abandoned cats have been seen following the feral Obi, who would direct them to food and shelter. 
			  </font>
		  </div>
		  <div>
			  <font size=+3>Sylvester</font>
			  <br> <img src="../img/cats/sylvester.jpg" style="width:250px"> </font>
		  </div>
		  <div>
			  <font size="+2">Sylvester is a pretty siamese point colony kitty. His appearance is very indicative of a special breed, and therefore his volunteer feeders wonder where he may have come from.
			  </font>
		  </div>
		  <div>
	                   <font size=+3>Rose</font>
			   <br> <img src="../img/cats/rose.jpg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Rose was found in the snow, living in an abandoned house. She was intially shy, but easily warmed up to people. From her friendly attitude, it was clear she was an abandoned cat, and from the state of her fur, had been abandoned for a long time. After being brought inside, she was accepted as an intake with PAWS, where they exclaimed that she was extremely lovable and set her up for adoption.
                          </font>
                  </div>
		  <div>
                          <font size=+3>Anish</font>
			  <br> <img src="../img/cats/anish.jpg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Anish is a colony kitty that lives behind tuttleman. He is loved by the local librarians, and has a best kitty friend named Paley who lives behind tuttleman with him. They are happily fed every day, checked on to make sure they remain healthy, and set up with shelter boxes to stay warm when it gets cold.
                          </font>
                  </div>
		  <div>
                          <font size=+3>Nacho</font>
			  <br> <img src="../img/cats/nacho.jpg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Nacho was a super friendly adult orange cat who was found outside in winter. Nacho was suspected to be an abandoned cat. He had been seen regularly outdoors and was being fed by a local who left food on their doorstep for him, but wouldn't let him stay inside. He was easily caught, fixed, and sent to a rescue to find a forever home.
                          </font>
                  </div>
		  <div>
                          <font size=+3>Soba</font>
                          <br> <img src="../img/cats/soba.jpeg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Soba was found crouching outside, terrified of loud noises and cars. When spoken to, she perked up and rolled over for pets. It was evident that she was someone's pet. After a brief search, it was determined that she was a lost cat, who escaped because she was unfixed, and had kittens at home waiting for her to come home. She was fixed by Temple Cats, and now happily lives with her kittens.
                          </font>
                  </div>
                  <div>
                          <font size=+3>Cheddar</font>
                          <br> <img src="../img/cats/cheddar.jpeg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Cheddar was an abandoned cat who was rescued by new student owners, but he accidentally escaped, most likely due to being unfixed. With Temple Cat's help, he was located by another student, reunited with his owners, and scheduled for a neuter surgery and microchipped, so that if he is ever lost again, he can easily be found.
                          </font>
                  </div>
                  <div>
                          <font size=+3>Wally</font>
                          <br> <img src="../img/cats/wally.jpg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Wally is a special kitty who is currently up for adoption via Temple Cats. He has an interesting demeanor, he is extremely friendly and sweet, however is like a puppy. He loves being walked on a leash! He is suspected to have been abandoned, but has fared well for himself by following students around and charming them into petting him.
                          </font>
                  </div>
                  <div>
                          <font size=+3>Ginger</font>
                          <br> <img src="../img/cats/ginger.jpg" style="width:250px"> </font>
                  </div>
                  <div>
                          <font size="+2">Ginger was a kitten found outside near the Temple Community Garden. It was evident that she must have spent some time outside, because she was very shy. However, since she was a kitten, she was fostered and socialized, and then eventually put up for adoption.
                          </font>
                  </div>

	  </div>
      </div>
    </div>
  </div>

  <!-- END MAIN -->
  <script src="../js/main.js"></script>

</body>
</html>
